<div class="main-body">
  <div class="page-header flexbox space-around center">
    <h2>Envoyer une demande</h2>
  </div>
  <div class="bg-grey">
    <div class="container">
      <div class="b-section">
          <div class="flexbox space-around center">
            <div id="add-item-container" class="bg-white">
            <!-- FORM -->
            <%= simple_form_for @missing_item, html: { id: "new-missing-item-form", multipart: true } do |f| %>
              <%= f.error_notification %>
                <h4>Général</h4>
                <div class="input-field col missing_item_name">
                  <h5 style="text-align: left;">Nom</h5>
                  <input class="string" type="text" name="missing_item[name]" id="missing_item_name", placeholder="Ex : Recherche robe 80's">
                </div>
                <div class="input-field col missing_item_description">
                  <h5 style="text-align: left;">Description</h5>
                  <textarea class="materialize-textarea text optional" name="missing_item[description]" id="missing_item_description", placeholder="Ex : recherche robe des années 80's pour un anniversaire déguisé, de préférence rouge, etc"></textarea>
                </div>
                <div class="input-field col missing_item_ref">
                  <h5 style="text-align: left;">Référence</h5>
                  <p>Si vous avez un exemple précis en tête, vous pouvez ajouter ici un lien vers le site.</p>
                  <input class="string" type="text" name="missing_item[ref]" id="missing_item_ref", placeholder="Référence">
                </div>
                <h4>Photos</h4>
                <p>N'hésitez pas à ajouter quelques photos si vous avez des références pour donner un aperçu de ce que vous cherchez.</p>
                <div id="ajouter-photos-missing-items-btn" class="b-btn b-btn-underlined">Choisir photos</div>
                <input type="text" class="missing-item-filename" placeholder="Aucun fichier choisi"/>
                <%= f.file_field :photos, multiple: true %>


                <!-- Modal Trigger -->
                <a class="b-btn b-btn-colored" href="#modal-send-request">Valider</a>
                <!-- Modal Structure -->
                <div id="modal-send-request" class="modal modal-send-request">
                  <div class="modal-content">
                    <div class="close-modal" data-target="modal-send-request"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
                    <!-- Contenu de la modal -->
                    <div class="">
                      <h4>A qui souhaitez vous l'envoyer ?</h4>
                      <p>Cliquez sur les amis à qui vous souhaitez envoyer la demande.</p>
                      <p>Si vous souhaitez envoyer la demande à tout votre réseau, celui-ci en sera informé sur le site mais pas par e-mail (nous préférons éviter les spams).</p>


                  <%= form_tag missing_items_path, method: 'get' do %>
                    <% current_user.accepted_friends.each do |friend| %>
                      <input type="checkbox" value="<%= friend.id %>" name="missing_item_targets[]" id="missing_item_target_<%= friend.id %>">
                      <label for="missing_item_target_<%= friend.id %>">
                        <div class="user-card">
                          <% image = friend.gender == "male" ? 'boy.png' : 'girl.png' %>
                          <% avatar_url = friend.facebook_picture_url || image_path(image) %>
                          <%= image_tag(avatar_url, class: 'user-avatar') %>
                          <h5><%= friend.first_name %> <%= friend.last_name %></h5>
                        </div>
                      </label>
                    <% end %>
                  <% end %>


                    </div>
                    <p>En cliquant sur valider, vous confirmez que vous souhaitez envoyer un message à vos ami(e)s pour leur demander de l'aide.</p>
                  </div>
                  <div class="right" style="margin-right: 24px;">
                    <%= f.button :submit, class: 'b-btn', value: "Envoyer" %>
                  </div>
                </div>
                <!-- END Modal Structure -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
