<! Etape 1 de la création d'un vide dressing : le nom et la date de fin >
<div class="main-body">
  <div class="bg-grey">
    <div class="container">
      <div class="b-section">
        <h2 class="text-center">Nouveau vide dressing</h2>
        <div class="flex-form-container">
          <div class="card-large">
            <div class="card-large-infos">
              <%= simple_form_for [@user, @vide_dressing], html: { id: "my-dropzone", class: "form dropzone dz-clickable" } do |f| %>
                <%= f.error_notification %>
                      <%= f.input :name, placeholder: "Nom du vide-dressing" %>
                      <select class="select optional initialized" name="vide_dressing[status]" id="vide_dressing_status">
                        <option value="" class="select-placeholder">Choisissez le statut</option>
                        <option value="Public">Public</option>
                        <option value="Privé">Privé</option>
                      </select>
                      <%= f.hidden_field :photo %>
                  <%= f.button :submit, value: "Créer mon vide-dressing", class: "b-btn" %>
                  <br>
                  <!-- <div id="remove-pictures" class="hidden b-btn">Modifier la photo</div> -->
              <% end %>
            </div>
            <div class="card-large-picture" id="card-large-picture-form">
              <div id="dropzonePreview" class="dropzone dropzone-previews">
                <div class="message-container">
                  <div class="dz-default dz-message">
                    Optionnel - Prendre ou Uploader une photo (Mininum : 400 * 250)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
<% end %>
