<! Etape 1 de la création d'un vide dressing : le nom et la date de fin >
<div class="main-body">
  <div class="container">
    <h1>Nouveau vide dressing</h1>
    <p>A compléter</p>

    <! formulaire de création >
    <%= simple_form_for [@user, @vide_dressing] do |f| %>
      <%= f.error_notification %>

      <%= f.input :name %>
      <%= f.input :status, collection: VideDressing::STATUS %>

      <%= f.button :submit %>
    <% end %>


  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
        $('select').material_select();
      });
  </script>
<% end %>
