<div class="main-body">
  <div class="bg-grey">
    <div class="container last-container">
      <div class="b-section">
        <h2 class="text-center">Ajouter photos</h2>
        <div class="flex-form-container">
          <div id="add-pictures-container" class="bg-white">
            <%= simple_form_for [@owner, @vide_dressing, @item], html: { id: "pictures-dropzone", class: "form dropzone dz-clickable" } do |f| %>
              <%= f.error_notification %>
              <div class="flex-form-container">
                <div class="form-inputs-container">
                  <%= f.input :name, placeholder: "Nom" %>
                  <%= f.input :description, placeholder: "Description", as: :text %>
                  <%= f.input :gender, placeholder: "Genre", collection: VideDressingItem::GENDER %>
                  <%= f.input :category, placeholder: "Categorie", collection: VideDressingItem::CATEGORY %>
                  <%= f.input :color, placeholder: "Couleur" %>
                  <%= f.input :size, placeholder: "Taille" %>
                  <%= f.input :price, placeholder: "Prix" %>
                  <%= f.hidden_field :photos %>
                </div>
              </div>
              <div class="dz-default dz-message">
                <span>Cliquez ici pour choisir ou prendre les photos (Mininum : 450 * 670)</span>
              </div>
              <div id="itemDropzonePreview" class="dropzone dropzone-previews">
              </div>
              <%= f.button :submit, value: "Valider", class: "b-btn" %>
                <!-- <div id="remove-pictures" class="hidden b-btn">Modifier la photo</div> -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
        $('select').material_select();
      });
  </script>
<% end %>
