<div class="main-body">
  <div class="container">
    <h1>Ajouter une fringue à <%= @vide_dressing.name %></h1>
    <%= simple_form_for [@user, @vide_dressing, @vide_dressing_item] do |f| %>
      <%= f.error_notification %>

      <%= f.input :name, placeholder: "nom" %>
      <%= f.input :gender, placeholder: "genre", collection: VideDressingItem::GENDER %>
      <%= f.input :category, placeholder: "categorie", collection: VideDressingItem::CATEGORY %>

      <%= f.input :price, placeholder: "prix" %>

      <%= f.input :photos, as: :attachinary, :input_html => {:accept => "image/*", :capture => "capture"} %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
        $('select').material_select();
      });
  </script>
<% end %>
