<div class="main-body">
  <div class="bg-grey">
  <!-- Sous-navigation -->
  <div class="sub-nav">
    <div class="sub-nav-container">
      <div class="sub-nav-menu">
        <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
        <i class="fa fa-chevron-right hide-on-small-only" aria-hidden="true"></i>
        <span class="sub-nav-item"><%= link_to "#{@owner.first_name} #{@owner.last_name}", user_path(@owner) %></span>
        <i class="fa fa-chevron-right hide-on-small-only" aria-hidden="true"></i>
        <span class="sub-nav-item"><%= link_to @vide_dressing.name, user_vide_dressing_path(@owner, @vide_dressing) %></span>
      </div>
    </div>
  </div>
  <!-- Sous-navigation -->
  <div class="container last-container">
    <div id="vide-dressing-item-container">
      <div class="item-pictures">
        <div class="item-main-picture">
          <% if @item.photos.size == 0 %>
            <p>Le propriétaire n'a pas encore fourni de photos</p>
          <% else %>
            <%= cl_image_tag(@item.photos[@item.photos.length - 1].path, width: 500, height: 700) %>
          <% end %>
        </div>
        <div class="item-other-pictures">
          <% if @item.photos.size > 1 %>
            <% @item.photos[0..@item.photos.length-2].each do |photo| %>
              <%= cl_image_tag(photo.path) %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="item-infos-container">
        <div class="item-infos">
          <h2><%= @item.name %></h2>
          <% if @item.price == 0 %>
            <p class="small-price"><%= @item.price %>€</p>
          <% else %>
            <p class="price"><%= @item.price %>€</p>
          <% end %>
          <h5><%= @item.gender %></h5>
          <h5><%= @item.category %></h5>
          <br>
          <p>Couleur : <%= @item.color %></p>
          <p>Taille : <%= @item.size %></p>
          <br>
          <p><%= @item.description %></p>
          <br>
          <% if current_user == @owner %>
            <%= link_to "Modifier", edit_user_vide_dressing_vide_dressing_item_path(@owner, @vide_dressing, @item), class: 'b-btn' %>
            <%= link_to "Supprimer", user_vide_dressing_vide_dressing_item_path(@owner, @vide_dressing, @item), method: :delete, class: 'b-btn' %>
            <br>
            <br>
            <h4>Dans le panier de</h4>
            <% if @users_interested.size == 0 %>
              <p>personne pour l'instant</p>
            <% else %>
              <% @users_interested.each do |user| %>
                <p><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></p>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to "Ca m'intéresse", add_to_cart_path(@owner, @vide_dressing, @item), remote: true, method: :post, class: 'b-btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
