<div class="main-body">
  <div class="bg-grey">
  <!-- Sous-navigation -->
  <div class="sub-nav">
    <div class="sub-nav-container">
      <div class="sub-nav-menu">
        <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <span class="sub-nav-item"><%= link_to "Les vide-dressings de #{@owner.first_name}", user_path(@owner) %></span>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <span class="sub-nav-item"><%= link_to @vide_dressing.name, user_vide_dressing_path(@owner, @vide_dressing) %></span>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <span class="sub-nav-item"><%= @item.name %></span>
      </div>
    </div>
  </div>
  <!-- Sous-navigation -->
  <div class="container last-container">
    <div id="vide-dressing-item-container">
      <div class="item-pictures">
        <div class="item-main-picture">
          <%= cl_image_tag @item.photos[0].path %>
        </div>
        <div class="item-other-pictures">
          <% if @item.photos.size > 1 %>
            <% @item.photos[1..@item.photos.length-1].each do |photo| %>
              <%= cl_image_tag photo.path %>
            <% end %>
          <% end %>
          <% unless current_user.nil? %>
            <% if current_user == @owner %>
              <div class="add-item-card">
                <%= link_to "#" do %>
                  <i class="material-icons">add_box</i>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="item-infos-container">
        <div class="item-infos">
          <h2><%= @item.name %></h2>
          <p><%= @item.gender %></p>
          <p><%= @item.category %></p>
          <p><%= @item.price %>€</p>
          <%= link_to "Ca m'intéresse", add_to_cart_path(@owner, @vide_dressing, @item), remote: true, method: :post, class: 'b-btn' %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
