<div class="main-body">
  <div class="bg-grey">
    <div class="container padded">
      <div class="user-form-container">
        <div class="user-form">
        <h2 class="text-center">Créer un compte</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :first_name, required: true, autofocus: true, placeholder: "Prénom" %>
              <%= f.input :last_name, required: true, autofocus: true, placeholder: "Nom" %>
              <%= f.input :gender, required: true, autofocus: true, placeholder: "Genre", collection: [ [ "Homme", "male" ], [ "Femme", "female" ] ] %>
              <%= f.input :email, required: true, autofocus: true, placeholder: "Email" %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), placeholder: "Mot de passe" %>
              <%= f.input :password_confirmation, required: true, placeholder: "Confirmer mot de passe" %>
              <%#= f.input :profile_picture, as: :attachinary, hint: "Télécharger une photo de profil (optionnel)" %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Enregistrer", class: "b-btn" %>
            </div>
          <% end %>
          <div class="signing-links">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('select').material_select();
    });
  </script>
<% end %>
