<div id="loans-navigation">
  <ul class="top-nav-tabs loans-nav-tabs">
    <li class="tab top-nav-tab"><a href="#tab-pending-loans" class="active">Demandes en attente</a></li>
    <li class="tab top-nav-tab"><a href="#tab-current-loans">Emprunts en cours</a></li>
    <li id="past-loans-link" class="tab top-nav-tab"><a href="#tab-past-loans">Emprunts passés</a></li>
    <div class="indicator" style="right: 1050px; left: 30px;"></div>
  </ul>
</div>
<div id="tab-pending-loans">
  <% @pending_loans.each do |loan| %>
    <% item = loan.dressing_item %>
    <div class="b-card loan-card flexbox space-between" id="loan-item-card-<%= loan.id %>">
      <div class="item-picture">
        <% unless item.dressing_item_pictures.size == 0 %>
          <%= cl_image_tag(item.dressing_item_pictures[0].photo, height: 240, width: 160, crop: :fill) %>
        <% end %>
      </div>
      <div class="item-infos">
        <h2><%= item.name %></h2>
        <p>Mis en ligne par <%= link_to "#{item.user.first_name} #{item.user.last_name}", user_path(item.user), class: 'b-btn-underlined' %></p>
        <p><%= item.description %></p>
      </div>
      <div class="item-links">
        <p>Demande faite le <%= loan.created_at.strftime('%e %b %Y') %></p>
        <p><%= link_to "Annuler ma demande", dressing_item_loan_path(item, loan), method: :delete, class: "b-btn-underlined" %></p>
      </div>
    </div>
  <% end %>
  <% if @pending_loans.size == 0 %>
    <div class="b-card">
      <p>Vous n'avez aucune demande en attente de réponse.</p>
    </div>
  <% end %>
</div>
<div id="tab-current-loans">
  <% @current_loans.each do |loan| %>
    <% item = loan.dressing_item %>
    <div class="b-card loan-card flexbox space-between">
      <div class="item-picture">
        <% unless item.dressing_item_pictures.size == 0 %>
          <%= cl_image_tag(item.dressing_item_pictures[0].photo, height: 240, width: 160, crop: :fill) %>
        <% end %>
      </div>
      <div class="item-infos">
        <h2><%= item.name %></h2>
        <p>Mis en ligne par <%= link_to "#{item.user.first_name} #{item.user.last_name}", user_path(item.user), class: 'b-btn-underlined' %></p>
        <p class="item-price"><%= item.price %> €</p>
        <p>Emprunté depuis le <%= loan.updated_at.strftime('%e %b %Y') %></p>
        <a href="mailto:<%= item.user.email %>" target="_blank" class="b-btn-underlined">Contacter</a>
      </div>
    </div>
  <% end %>
  <% if @current_loans.size == 0 %>
    <div class="b-card">
      <p>Vous n'avez aucun emprunt en cours.</p>
    </div>
  <% end %>
</div>
<div id="tab-past-loans">
  <% @past_loans.each do |loan| %>
    <% item = loan.dressing_item %>
    <div class="b-card loan-card flexbox space-between">
      <div class="item-picture">
        <% unless item.dressing_item_pictures.size == 0 %>
          <%= cl_image_tag(item.dressing_item_pictures[0].photo, height: 240, width: 160, crop: :fill) %>
        <% end %>
      </div>
      <div class="item-infos">
        <h2><%= item.name %></h2>
        <p>Mis en ligne par <%= link_to "#{item.user.first_name} #{item.user.last_name}", user_path(item.user), class: 'b-btn-underlined' %></p>
        <p class="item-price"><%= item.price %> €</p>
        <p><%= item.description %></p>
        <p class="small-text">Nous ne proposons pas la vente en ligne de cet article, nous vous proposons de prendre contact directement avec le ou la propriétaire pour en savoir plus et arranger la vente.</p>
        <a href="mailto:<%= item.user.email %>" target="_blank" class="b-btn-underlined">Contacter</a>
      </div>
    </div>
  <% end %>
  <% if @past_loans.size == 0 %>
    <div class="b-card">
      <p>Vous n'avez pas encore emprunté d'articles sur Swaplab.</p>
    </div>
  <% end %>
</div>
