<div class="main-body">
  <div class="page-sub-header">
    <div class="container">
      <!-- Subnavigation -->
      <div class="page-nav">
        <div class="page-nav-menu">
          <div class="page-nav-menu-links">
            <p class="inline first-nav-element"><%= link_to 'Accueil', root_path %></p>
            <i class="fa fa-chevron-right inline" aria-hidden="true"></i>
            <p class="inline first-nav-element"><%= link_to 'Mon compte', dashboard_user_path(current_user) %></p>
            <i class="fa fa-chevron-right inline" aria-hidden="true"></i>
            <p class="inline">Mon panier</p>
          </div>
        </div>
      </div>
      <!-- Subnavigation -->
    </div>
  </div>
  <div class="bg-grey">
    <div class="b-section">
      <div class="container last-container">
        <div id="cart-container">
          <div class="cart-card">
            <div class="cart-card-items">
              <% @cart.shopping_cart_items.each do |element| %>
              <% item = DressingItem.find(element.item_id) %>
              <div class="cart-item-card" id="cart-item-card-<%= element.id %>">
                <div class="cart-item-card-picture">
                  <% unless item.dressing_item_pictures.size == 0 %>
                    <%= cl_image_tag(item.dressing_item_pictures[0].photo, height: 240, width: 160, crop: :fill) %>
                  <% end %>
                </div>
                <div class="cart-item-card-infos">
                  <div class="flexbox space-between">
                    <h2><%= item.name %></h2>
                    <div class="cart-icons">
                      <%= link_to shopping_cart_item_path(element), method: :delete, remote: true, class: "tooltip" do %>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span class="tooltiptext">Supprimer du panier</span>
                      <% end %>
                      <% if current_user.voted_for?(item) %>
                        <div class="add-to-cart-icon active">
                          <%= link_to remove_from_favorite_path(item), method: :patch, class: "tooltip" do %>
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <span class="tooltiptext">Supprimer des favoris</span>
                          <% end %>
                        </div>
                      <% else %>
                        <div class="add-to-cart-icon">
                          <%= link_to add_to_favorite_path(item), method: :post, class: "tooltip" do %>
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <span class="tooltiptext">Ajouter aux favoris</span>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <p>Mis en ligne par <%= link_to "#{item.user.first_name} #{item.user.last_name}", user_path(item.user), class: 'b-btn-underlined' %></p>
                  <p class="item-price"><%= item.price %> €</p>
                  <p><%= item.description %></p>
                  <p class="small-text">Nous ne proposons pas la vente en ligne de cet article, nous vous proposons de prendre contact directement avec le ou la propriétaire pour en savoir plus et arranger la vente.</p>
                  <a href="mailto:<%= item.user.email %>" target="_blank" class="b-btn-underlined">Contacter</a>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="cart-recap">
            <div class="intro">
              <h4>Récapitulatif</h4>
              <p><%= pluralize @cart.shopping_cart_items.size, "article" %></p>
              <h5>Total : <%= @cart.cart_price %> €</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
