<div class="main-body">
  <div class="bg-grey">
    <div class="b-section">
      <h2 class="text-center">Mon panier</h2>
      <div class="container last-container">
        <div id="cart-container">
          <div class="cart-card">
            <div class="cart-card-items">
              <% @cart.shopping_cart_items.each do |element| %>
              <% item = DressingItem.find(element.item_id) %>
              <div class="cart-item-card">
                <div class="cart-item-card-picture">
                  <% unless item.dressing_item_pictures.size == 0 %>
                    <%= cl_image_tag(item.dressing_item_pictures[0].photo, height: 240, width: 160, crop: :fill) %>
                  <% end %>
                </div>
                <div class="cart-item-card-infos">
                  <div>
                    <h2><%= item.name %></h2>
                    <h5><%= item.gender %></h5>
                    <h5><%= item.category %></h5>
                  </div>
                  <div>
                    <p>Nous ne proposons pas la vente en ligne de cet article, nous vous proposons de prendre contact directement avec le ou la propriétaire pour en savoir plus et arranger la vente.</p>
                    <a href="mailto:<%= item.user.email %>" target="_blank" class="b-btn">Contacter</a>
                  </div>
                </div>
                <div class="cart-item-card-price">
                  <p class="cart-item-small-price"><%= item.price %> €</p>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="cart-recap">
            <div class="intro">
              <h2>Récapitulatif</h2>
              <p><%= pluralize @cart.shopping_cart_items.size, "article" %></p>
              <h3>Total : <%= @cart.cart_price %> €</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
