<!-- METATAGS -->
<% content_for :meta_title, "#{@outfit.name}" %>
<% content_for :meta_description, "J'ai besoin de votre aide, je cherche les éléments suivants : #{@missing_items_text}" %>
<% unless @outfit.photos.size == 0 %>
  <% content_for :meta_image, cloudinary_url(@outfit.photos[0]) %>
<% end %>

<!-- Facebook SDK for JavaScript -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1446517282313657',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- *********** -->

<div class="main">
  <div class="page-title bg-grey center-align">
    <div class="container relative">
      <h1><%= @outfit.name %></h1>
      <!-- Nombre de likes -->
      <div id="upvotes-counter-container">
        <%= link_to(upvote_path(@outfit), html_options = { remote: true, method: :post }) do %>
          <% if @user_vote %>
            <i class="fa fa-heart active" aria-hidden="true"></i>
            <span id='upvotes-counter' class="active">
              <%= render 'outfits/upvotes_count', outfit: @outfit %>
            </span>
          <% else %>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <span id='upvotes-counter'>
              <%= render 'outfits/upvotes_count', outfit: @outfit %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container center-align">
    <!-- Photo de la tenue -->
    <div class="outfit-container">
      <% if @outfit.photos.size != 0 %>
        <% @outfit.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 300, height: 400, crop: :fill, class: 'outfit-picture' %>
        <% end %>
      <% end %>
    </div>
    <% if current_user.id == @outfit.user_id %>
      <div class="btn highlight-btn" id="add-picture-button">Modifier la photo</div>
      <div class="btn highlight-btn" href="#add-to-dressing">Add to my dressing</div>
      <!-- Modal Structure -->
        <div id="add-to-dressing" class="modal">
          <div class="modal-content">
            <%= render 'shared/new-dressing-item-form', user: current_user, dressing_item: @dressing_item, outfit: @outfit %>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close btn highlight-btn">Agree</a>
          </div>
        </div>
      <!-- End of modal Structure -->
    <% end %>
  </div>

  <div id="add-picture-form">
    <div class="container">
      <div class="separation-line"></div>
    </div>
    <div class="container">
      <div class="section-title">
        <h2>Modifier la photo</h2>
      </div>
      <div>
        <%= render 'shared/add_picture_to_outfit', outfit: @outfit %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="separation-line"></div>
  </div>

  <% if current_user.id == @outfit.user_id %>
    <div class="container">
      <div class="section-title">
        <h2>Ce qu'il me manque</h2>
      </div>
      <div id="missing-items-form">
        <%= render 'shared/missing_items_form', outfit: @outfit %>
      </div>
    </div>
  <% else %>
    <div class="container">
      <div class="section-title">
        <h2>Accessoires recherchés</h2>
      </div>
      <% if @missing_items == [] %>
        <p class="center-align"><%= User.find(@outfit.user_id).email %> n'a pas encore précisé ce qui lui manquait. Vous pouvez malgré tout lui proposer des accessoires pour cette tenue.</p>
      <% end %>
      <div id="missing-items-display">
        <% @missing_items.each do |item| %>
          <div class="chip chip-large">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <%= item %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="container">
    <div class="separation-line"></div>
  </div>


  <div class="container">
    <% if current_user.id == @outfit.user_id %>
      <div class="section-title">
        <h2>Les propositions reçues</h2>
      </div>
      <div class="propositions">
        <% if @outfit.proposals.size == 0 %>
          <p class="center-align">Vous n'avez reçu aucune proposition pour l'instant</p>
        <% else %>
          <% @outfit.proposals.each do |proposal| %>
            <h6>Proposition reçue de <%= User.find(proposal.user_id).email %></h6>
            <h5><%= MissingItem.find(proposal.missing_item_id).name %></h5>
            <% if proposal.photos.size == 0 %>
              <p class="proposition-comment">Votre ami(e) n'a pas fourni de photo pour cette proposition</p>
            <% else %>
              <%= cl_image_tag(photos[0].path, class: 'item-picture') %>
            <% end %>
              <div class="container small-container">
                <div class="separation-line"></div>
              </div>
          <% end %>
        <% end %>
      </div>

    <% else %>
        <div class="section-title">
        <h2>Ma proposition</h2>
      </div>
      <% if @current_proposals.size != 0 %>
        <p>Je peux prêter : </p>
        <div class="row">
          <% @current_proposals.each do |proposal| %>
            <div class="col s12 m4">
              <div class="user-proposition">
                <div class="chip chip-large">
                  <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                  <%= MissingItem.find(proposal.missing_item_id).name %>
                </div>
                <% unless proposal.photos.size == 0 %>
                  <%= cl_image_tag(photos[0].path, class: 'item-picture') %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class= "proposal-form" id="new-proposal-form">
          <p>Je te propose : </p>
          <%= render 'shared/new_proposal_form', proposal: @proposal %>
        </div>
      <% end %>
    <% end %>
  </div>


<!-- Créer ici la case review -->

<!--   <div class="container">
    <div class="section-title ">
      <h2>Votre avis</h2>
    </div>
    <div id="outfit_reviews">

    </div>
  </div> -->

  <div class="container">
    <div class="separation-line"></div>
  </div>

  <div class="container center-align last-container">
    <div class="section-title">
      <h2>Partager cette page via Messenger</h2>
    </div>
    <!-- Construire ici un message type qui sera envoyé sur facebook -->
    <!-- Exemple : voici la photo, j'ai besoin de xxx -->
    <!-- 1ère phase : tester d'intégrer l'inbox facebook -->
    <div class="fb-send" data-href="<%= request.original_url %>"></div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('select').material_select();
    });
    $('#add-picture-button').click(function() {
      $('#add-picture-form').slideDown('slow')
    })
  <% end %>
<% end %>
