<!-- METATAGS -->
<% content_for :meta_title, "#{@outfit.name}" %>
<% content_for :meta_description, "J'ai besoin de votre aide, je cherche les éléments suivants : #{@missing_items_text}" %>
<% content_for :meta_image, cloudinary_url(@outfit.photos[0].path) %>

<!-- Facebook SDK for JavaScript -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1446517282313657',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- *********** -->

<div class="main">
  <div class="page-title-small bg-grey center-align">
    <div class="container">
      <h1><%= @outfit.name %></h1>
    </div>
  </div>


  <div class="container">

    <!-- Photo de la tenue -->
    <div class="outfit-container padded">
      <% if @outfit.photos.size != 0 %>
        <%= cl_image_tag(@outfit.photos[0].path, class: 'outfit-picture') %>
      <% end %>
    </div>

  </div>

  <div class="container">
    <p>Je cherche : </p>
      <%= simple_form_for(@outfit) do |f| %>
        <%= f.error_notification %>

        <%= f.association :missing_items, as: :check_boxes, value_method: :id, prompt: "Choose Items" %>

        <%= f.input :occasion %>

        <%= f.button :submit %>
    <% end %>
  </div>

  <div class="container">
    <div id='upvotes_counter'>
      <%= render 'outfits/upvotes_count', outfit: @outfit %>
    </div>
    <p>Et vous, qu'en pensez-vous ?</p>
    <%= link_to(upvote_path(@outfit), html_options = { remote: true, method: :post }) do %>
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    <% end %>
  </div>

  <div class="container center-align">
    <!-- Construire ici un message type qui sera envoyé sur facebook -->
    <!-- Exemple : voici la photo, j'ai besoin de xxx -->
    <!-- 1ère phase : tester d'intégrer l'inbox facebook -->
    <div class="fb-send" data-href="<%= request.original_url %>"></div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('select').material_select();
    });
  <% end %>
<% end %>
