<div class="main-body dashboard-container">
  <div class="subnav-left">
      <% avatar_url = current_user.facebook_picture_url || image_path('someone_icon.png') %>
      <%= image_tag(avatar_url, class: 'user-avatar') %>
      <h4 class="text-center"><%= current_user.first_name.capitalize + " " + current_user.last_name.capitalize %></h4>
      <div class="subnav-tabs-container" id="subnav-tabs">
        <ul class="subnav-tabs">
          <li class="tab subnav-tab"><a href="#tab-moncompte" class="active">Mon compte</a></li>
          <li id="monprofil-link" class="tab subnav-tab"><a href="#tab-monprofil">Mon profil</a></li>
          <li id="monreseau-link" class="tab subnav-tab"><a href="#tab-monreseau">Mon réseau</a></li>
          <li id="mondressing-link" class="tab subnav-tab"><a href="#tab-mondressing">Mon dressing</a></li>
          <li id="mesprets-link" class="tab subnav-tab"><a href="#tab-mesprets">Mes prêts</a></li>
        </ul>
      </div>
  </div>
  <div class="dashboard-content-right bg-grey">
    <div class="full-height">

      <!-- TAB MON COMPTE -->
      <div class="tab-page" id="tab-moncompte">
        <div class="dashboard-content-header flexbox space-between center">
          <h4>Mon compte</h4>
          <%= link_to 'Se déconnecter', destroy_user_session_path(current_user), method: :delete, class: 'b-btn b-btn-transparent no-margin' %>
        </div>
        <div class="tab-content no-padding-bottom flexbox space-between">
          <div class="dashboard-links-card">
            <h5>Mon profil</h5>
            <p>Prénom : <%= current_user.first_name %></p>
            <p>Nom : <%= current_user.last_name %></p>
            <p>Email : <%= current_user.email %></p>
            <br>
            <p class="b-btn-underlined" id="link-to-monprofil">Modifier</p>
          </div>
          <div class="dashboard-links-card">
            <h5>Mon réseau</h5>
            <p>Vous avez <%= pluralize @actual_friends.size, "ami" %></p>
            <p>Vous avez <%= pluralize @pending_requests.size, "invitation" %> en attente</p>
            <br>
            <p class="b-btn-underlined" id="link-to-monreseau">Gérer</p>
          </div>
          <div class="dashboard-links-card">
            <h5>Mon dressing</h5>
            <p>Vous avez mis en ligne <%= pluralize @dressing_items.size, "article" %></p>
            <br>
            <p class="b-btn-underlined" id="link-to-mondressing">Gérer</p>
          </div>
        </div>
        <div class="tab-content no-padding-top flexbox space-between">
          <div class="dashboard-links-card">
            <h5>Mon panier</h5>
            <% if current_user.shopping_cart.nil? %>
              <p>Votre panier est vide</p>
              <br>
              <p><%= link_to "Commencez votre lèche-vitrine", dressing_items_path, class: "b-btn-underlined" %></p>
            <% else %>
              <p>Vous avez ajouté <%= pluralize current_user.shopping_cart.shopping_cart_items.size, "article" %> à votre panier</p>
              <br>
              <p><%= link_to "Accéder", shopping_cart_path(current_user.shopping_cart), class: "b-btn-underlined" %></p>
            <% end %>
          </div>
          <div class="dashboard-links-card">
            <h5>Ma wishlist</h5>
            <% if @wishlist_items.nil? %>
              <p>Votre wishlist est vide.</p>
              <br>
              <p><%= link_to "Commencez votre lèche-vitrine", dressing_items_path, class: "b-btn-underlined" %></p>
            <% else %>
              <p>Vous avez ajouté <%= pluralize @wishlist_items.size, "article" %> à votre wishlist</p>
              <br>
              <p><%= link_to "Voir", wishlist_user_path(current_user), class: "b-btn-underlined" %></p>
            <% end %>
          </div>
          <div class="dashboard-links-card">
            <h5>Articles prêtés</h5>
            <% if @loans.nil? %>
              <p>Vous ne prêtez actuellement aucun article.</p>
            <% else %>
              <p>Vous prêtez actuellement <%= pluralize @loans.size, "article" %>.</p>
            <% end %>
            <br>
            <p class="b-btn-underlined" id="link-to-mesprets">Gérer</p>
          </div>
        </div>
      </div>

      <!-- TAB MON PROFIL -->
      <div class="tab-page" id="tab-monprofil">
        <div class="dashboard-content-header">
          <h4>Mon profil</h4>
        </div>
        <div class="user-form-container">
          <div class="user-form">
            <%= simple_form_for(current_user, as: :user, url: session_path(:user)) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :email, required: false, autofocus: true, placeholder: "Votre email" %>
                <%= f.input :first_name, required: true, autofocus: true %>
                <%= f.input :last_name, required: true, autofocus: true %>
                <%= f.input :gender, required: true, autofocus: true, placeholder: "Genre", collection: [ [ "Homme", "male" ], [ "Femme", "female" ] ] %>
                <%= f.input :password, autocomplete: "off", hint: "Laissez vide si vous ne voulez pas le modifier", required: false, placeholder: "mot de passe" %>
                <%= f.input :password_confirmation, required: false, placeholder: "Confirmez votre mot de passe" %>
                <%= f.input :current_password, hint: "Nous avons besoin de votre mot de passe actuel pour le modifier", required: true, placeholder: "mot de passe actuel" %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Mettre à jour", class: "b-btn" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- TAB MON RESEAU -->
      <div class="tab-page" id="tab-monreseau">
        <div id="network-subnav-container">
          <div class="dashboard-content-header underlined">
            <h4>Mon réseau</h4>
          </div>
          <ul class="network-subnav-tabs">
            <li id="mesamis-link" class="tab network-subnav-tab"><a href="#tab-mesamis" class="active">Mes amis</a></li>
            <li id="notifications-link" class="tab network-subnav-tab"><a href="#tab-notifications">Invitations <span class="notification-pin">( <%= @pending_requests.size %> )</span></a></li>
            <li id="ajouter-link" class="tab network-subnav-tab"><a href="#tab-ajouter">Ajouter</a></li>
            <div class="indicator" style="right: 1050px; left: 30px;"></div>
          </ul>
        </div>
        <div class="network-content">
          <div id="tab-mesamis">
            <div class="flexbox space-between">
              <% if @actual_friends.size == 0 %>
                <p>Vous n'avez pas encore d'amis.</p>
              <% else %>
                <% @actual_friends.each do |user| %>
                  <div class="user-card">
                    <% image = user.gender == "male" ? 'boy.png' : 'girl.png' %>
                    <% avatar_url = user.facebook_picture_url || image_path(image) %>
                    <%= image_tag(avatar_url, class: 'user-avatar') %>
                    <h1><%= user.first_name %> <%= user.last_name %></h1>
                    <h5><%= user.email %></h5>
                    <%= link_to "", user_path(user), class: 'card-link user-card-link' %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <p id="link-to-ajouter" class="b-btn-underlined">Chercher de nouveaux amis</p>
          </div>
          <div id="tab-notifications">
            <div class="flexbox space-between">
              <% @pending_requests.each do |user| %>
                <div class="user-card">
                  <% image = user.gender == "male" ? 'boy.png' : 'girl.png' %>
                  <% avatar_url = user.facebook_picture_url || image_path(image) %>
                  <%= image_tag(avatar_url, class: 'user-avatar') %>
                  <h1><%= user.first_name %> <%= user.last_name %></h1>
                  <h5><%= user.email %></h5>
                  <% friendship = Friendship.where('user_id = ? AND friend_id = ?', user.id, current_user.id).first %>
                  <%= link_to "Accepter", friendship_path(friendship), method: :patch, class: 'b-btn' %>
                </div>
              <% end %>
            </div>
          </div>
          <div id="tab-ajouter">
            <div class="flexbox space-between">
              <% @not_yet_friends.each do |user| %>
                <div class="user-card">
                  <% image = user.gender == "male" ? 'boy.png' : 'girl.png' %>
                  <% avatar_url = user.facebook_picture_url || image_path(image) %>
                  <%= image_tag(avatar_url, class: 'user-avatar') %>
                  <h1><%= user.first_name %> <%= user.last_name %></h1>
                  <h5><%= user.email %></h5>
                  <% if @pending_requests.include?(user) %>
                    <p>Attend votre réponse</p>
                  <% elsif @friend_invitations.include?(user) %>
                    <p>En attente de sa confirmation</p>
                  <% else %>
                    <%= link_to "Inviter", friendships_path(:friend_id => user), :method => :post, class: 'b-btn' %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- TAB MON DRESSING -->
      <div class="tab-page" id="tab-mondressing">
        <div class="dashboard-content-header flexbox space-between center">
          <h4>Mon dressing</h4>
          <%= link_to "Ajouter", new_dressing_item_path, class: "b-btn b-btn-transparent no-margin" %>
        </div>
        <div class="tab-content">
          <div class="flexbox">
            <% @dressing_items.each do |item| %>
            <% photos = item.dressing_item_pictures %>
              <% unless photos.size == 0 %>
                <div class="dressing-item-container">
                  <div class="dressing-item-card" style="background-image: url(<%= cl_image_path photos[0].photo, width: 260, height: 330, crop: :fill; %>);">
                    <%= link_to "", dressing_item_path(item), class: "card-link" %>
                  </div>
                  <br>
                  <h5><%= item.name %></h5>
                  <% if item.price == 0 %>
                    <span class="item-price">gratuit</span>
                  <% else %>
                    <span class="item-price"><%= item.price %> €</span>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- TAB MES PRETS -->
      <div class="tab-page" id="tab-mesprets">
        <div id="loans-subnav-container">
          <div class="dashboard-content-header underlined">
            <h4>Mes prêts</h4>
          </div>
          <ul class="loans-subnav-tabs">
            <li class="tab loans-subnav-tab"><a href="#tab-demande-de-prets" class="active">Demandes de prêts <span class="notification-pin">( <%= @pending_loans.size %> )</span></a></li>
            <li class="tab loans-subnav-tab"><a href="#tab-prets-encours">Prêts en cours <span class="notification-pin">( <%= @current_loans.size %> )</span></a></li>
            <li class="tab loans-subnav-tab"><a href="#tab-prets-passes">Prêts terminés</a></li>
            <div class="indicator" style="right: 1050px; left: 30px;"></div>
          </ul>
        </div>
        <div class="tab-content">
          <div id="tab-demande-de-prets">
            <% if @pending_loans.size == 0 %>
              <div class="loan-card">
                <p>Vous n'avez aucune demande en attente de réponse.</p>
              </div>
            <% else %>
              <% @pending_loans.each do |loans| %>
                <% loans.each do |loan| %>
                  <% item = loan.dressing_item %>
                  <div class="loan-card">
                    <div class="cart-item-card" id="loan-item-card-<%= loan.id %>">
                      <div class="cart-item-card-picture">
                        <% unless item.dressing_item_pictures.size == 0 %>
                          <%= cl_image_tag(item.dressing_item_pictures[0].photo, height: 240, width: 160, crop: :fill) %>
                        <% end %>
                      </div>
                      <div class="cart-item-card-infos loan-item-card-infos flexbox space-between">
                        <div>
                          <h2><%= item.name %></h2>
                          <p>Demande faite par <%= link_to "#{loan.user.first_name} #{loan.user.last_name}", user_path(loan.user), class: "b-btn-underlined", target: "_blank" %>, le <%= loan.created_at.strftime('%e %b %Y') %></p>
                          <% if item.price == 0 %>
                            <span class="item-price">gratuit</span>
                          <% else %>
                            <span class="item-price"><%= item.price %> €</span>
                          <% end %>
                        </div>
                        <div>
                          <%= link_to dressing_item_loan_path(item, loan, answer: "accept"), class: "tooltip", method: :patch do %>
                            <i class="fa fa-check accept-icon" aria-hidden="true"></i>
                            <span class="tooltiptext">Accepter</span>
                          <% end %>
                          <%= link_to dressing_item_loan_path(item, loan, answer: "reject"), class: "tooltip", method: :patch do %>
                            <i class="fa fa-ban reject-icon" aria-hidden="true"></i>
                            <span class="tooltiptext">Rejeter</span>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div id="tab-prets-encours">
            <% if @current_loans.size == 0 %>
              <div class="loan-card">
                <p>Il n'y a aucun prêt en cours.</p>
              </div>
            <% else %>
              <% @current_loans.each do |loans| %>
                <% loans.each do |loan| %>
                  <% item = loan.dressing_item %>
                  <div class="loan-card">
                    <div class="cart-item-card" id="loan-item-card-<%= loan.id %>">
                      <div class="cart-item-card-picture">
                        <% unless item.dressing_item_pictures.size == 0 %>
                          <%= cl_image_tag(item.dressing_item_pictures[0].photo, height: 240, width: 160, crop: :fill) %>
                        <% end %>
                      </div>
                      <div class="cart-item-card-infos loan-item-card-infos flexbox space-between">
                        <div>
                          <h2><%= item.name %></h2>
                          <p>Vous avez prêté cet article à <%= link_to "#{loan.user.first_name} #{loan.user.last_name}", user_path(loan.user), class: "b-btn-underlined", target: "_blank" %>, le <%= loan.updated_at.strftime('%e %b %Y') %></p>
                          <p>Durée du prêt : <%= (Date.today - Date.parse(loan.updated_at.strftime('%Y-%m-%e'))).to_i %> jours</p>
                        </div>
                        <div>
                          <p style="display: inline; margin-right: 0.5rem;">Cet article vous a-t-il été rendu ?</p>
                          <%= link_to dressing_item_loan_path(item, loan, answer: "given-back"), method: :patch, class: "tooltip" do %>
                            <i class="fa fa-check accept-icon" aria-hidden="true"></i>
                            <span class="tooltiptext">Oui</span>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div id="tab-prets-passes">
            <% if @past_loans.size == 0 %>
              <div class="loan-card">
                <p>Vous n'avez rien prêté pour l'instant.</p>
              </div>
            <% else %>
              <% @past_loans.each do |loans| %>
                <% loans.each do |loan| %>
                  <% item = loan.dressing_item %>
                  <div class="loan-card">
                    <div class="cart-item-card" id="loan-item-card-<%= loan.id %>">
                      <div class="cart-item-card-picture">
                        <% unless item.dressing_item_pictures.size == 0 %>
                          <%= cl_image_tag(item.dressing_item_pictures[0].photo, height: 240, width: 160, crop: :fill) %>
                        <% end %>
                      </div>
                      <div class="cart-item-card-infos loan-item-card-infos flexbox space-between">
                        <div>
                          <h2><%= item.name %></h2>
                          <p>Emprûnté par <%= link_to "#{loan.user.first_name} #{loan.user.last_name}", user_path(loan.user), class: "b-btn-underlined", target: "_blank" %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('ul.subnav-tabs').tabs();
      $('ul.network-subnav-tabs').tabs();
      $('ul.loans-subnav-tabs').tabs();
      $('select').material_select();
    });
  </script>
<% end %>
