<div class="main-body">
  <div class="page-title bg-grey">
    <div class="container">
      <h1>Tous les membres</h1>
    </div>
  </div>
  <div class="container">
    <div class="padded">
      <div class="row">
        <% for user in @users %>
          <div class="col s12 l3">
            <div class="user-card">
              <% avatar_url = user.facebook_picture_url || image_path('someone_icon.png') %>
              <%= image_tag(avatar_url, class: 'user_avatar') %>
              <% if user == current_user %>
                <p>Me</p>
              <% else %>
                <p><%= user.email %></p>
              <% end %>
              <% if user == current_user %>
                <span><%= user.email %></span>
              <% else %>
                <% if current_user.is_friend_with?(user) %>
                  <i class="fa fa-check-square-o" aria-hidden="true"></i> Friend
                <% elsif current_user.friend_invitations.include?(user) %>
                  <span>Invitation envoyée</span>
                <% elsif current_user.pending_friend_requests.include?(user) %>
                  <span>Attend votre réponse</span>
                  <% friendship = Friendship.where('user_id = ? AND friend_id = ?', user.id, current_user.id).first %>
                  <%= link_to "Accepter", friendship_path(friendship), method: :patch %>
                <% else %>
                  <%= link_to "Inviter", friendships_path(:friend_id => user), :method => :post %>
                <% end %>
              <% end %>
              <div class="clear"></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
