<div class="main-body">
  <div class="bg-grey">
    <div class="container">
      <div class="b-section user-section">
        <h2 class="no-margin">Mes amis</h2>
        <% if @friends.size == 0 %>
          <p>Vous n'avez pas encore d'amis. Vous pouvez envoyer des invitations aux membres du réseau ci-dessous.</p>
        <% else %>
          <div id="friend-users-container" class="users-container">
            <% @friends.each do |user| %>
              <div class="user-card">
                <% avatar_url = user.facebook_picture_url || image_path('someone_icon.png') %>
                <%= image_tag(avatar_url, class: 'user_avatar') %>
                <h1><%= user.first_name %> <%= user.last_name %></h1>
                <h5><%= user.email %></h5>
                <%= link_to "", user_path(user), class: 'card-link user-card-link' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="b-section user-section">
        <h2 class="no-margin">Invitations en attente de votre réponse</h2>
        <% if @friend_requests.size == 0 %>
          <p>Vous n'avez aucune demande d'amis en attente.</p>
        <% else %>
          <div id="friend-requests-container" class="users-container">
            <% @friend_requests.each do |user| %>
              <div class="user-card">
                <% avatar_url = user.facebook_picture_url || image_path('someone_icon.png') %>
                <%= image_tag(avatar_url, class: 'user_avatar') %>
                <h1><%= user.first_name %> <%= user.last_name %></h1>
                <h5><%= user.email %></h5>
                <p>Attend votre réponse</p>
                <% friendship = Friendship.where('user_id = ? AND friend_id = ?', user.id, current_user.id).first %>
                <%= link_to "Accepter", friendship_path(friendship), method: :patch, class: 'b-btn' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="b-section user-section">
        <h2 class="no-margin">Invitations envoyées et sans réponse</h2>
        <% if @friend_invitations.size == 0 %>
          <p>Vous n'avez aucune demande d'amis en attente.</p>
        <% else %>
          <div id="friend-invitations-container" class="users-container">
            <% @friend_invitations.each do |user| %>
              <div class="user-card">
                <% avatar_url = user.facebook_picture_url || image_path('someone_icon.png') %>
                <%= image_tag(avatar_url, class: 'user_avatar') %>
                <h1><%= user.first_name %> <%= user.last_name %></h1>
                <h5><%= user.email %></h5>
                <p>Invitation envoyée</p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="b-section user-section">
        <h2 class="no-margin">Tous les utilisateurs</h2>
        <% if @all_other_users.size == 0 %>
          <p>Invroyable ! Vous êtes déjà ami avec tout le monde.</p>
        <% else %>
          <div id="all-users-container" class="users-container last-container">
            <% @all_other_users.each do |user| %>
              <div class="user-card">
                <% avatar_url = user.facebook_picture_url || image_path('someone_icon.png') %>
                <%= image_tag(avatar_url, class: 'user_avatar') %>
                <h1><%= user.first_name %> <%= user.last_name %></h1>
                <h5><%= user.email %></h5>
                <%= link_to "Inviter", friendships_path(:friend_id => user), :method => :post, class: 'b-btn' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
