<div class="main">
  <div class="page-title-small bg-grey">
    <div class="container">
      <h1>Profile</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="user-profile">
          <div class="user-picture">
            <div class="subtitle"><h2>Mon profil</h2></div>
            <% avatar_url = @user.facebook_picture_url || image_path('fake-avatar.jpg') %>
            <%= image_tag(avatar_url, class: 'rounded') %>
          </div>
          <div class="user-infos">
            <%= @user.email %>
          </div>
          <div class="user-links">
            <p><%= link_to "Find Friends", users_path %></p>
          </div>
        </div>
        <div class="user-friends">
          <div class="subtitle"><h2>Friends</h2></div>
            <div class="row">
              <% for friendship in @user_friends %>
                <div class="col s12 l6">
                  <% avatar_url = friendship.friend.facebook_picture_url || image_path('fake-avatar.jpg') %>
                  <%= image_tag(avatar_url, class: 'rounded') %> <br>
                  <%= link_to "Remove", friendship, :method => :delete %>
                </div>
              <% end %>
            </div>
          <div class="subtitle"><h3>Friend requests</h3></div>
          <% if @friend_requests.size == 0 %>
            <p>You don't have any friend request</p>
          <% else %>
            <ul>
              <% for user in @friend_requests %>
              <% friendship = user.friendships.find_by_friend_id(current_user) %>
              <div class="user">
                <p>
                  <strong><%=h user.email %></strong>
                  <%= link_to "Accept friend request", friendship_path(:friendship_id => friendship.id, :friend_id => user), :method => :patch, remote: true %>
                  <div id="friendship-status-display-<%= friendship.id %>">
                    <%= render 'friendships/friendship_status_display', friendship: friendship %>
                  </div>
                </p>
              </div>
              <% end %>
            </ul>
          <% end %>
          <% unless @made_friend_requests.size == 0 %>
            <p>You have asked for friendship the following people :</p>
            <ul>
              <% for friendship in @made_friend_requests %>
              <% user = User.find(friendship.friend_id) %>
              <div class="user">
                <p>
                  <strong><%=h user.email %></strong>
                  <%= link_to "Accept friend request", friendship_path(:friendship_id => friendship.id, :friend_id => user), :method => :patch, remote: true %>
                  <div id="friendship-status-display-<%= friendship.id %>">
                    <%= render 'friendships/friendship_status_display', friendship: friendship %>
                  </div>
                </p>
              </div>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>

      <div class="col s12 m8">
        <div class="user-outfits">
          <div class="subtitle"><h2>Outfits</h2></div>
          <div class="row">
            <% @user_outfits.each do |outfit| %>
              <%= render 'shared/outfit_card', outfit: outfit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
