<div class="main-body">
  <div class="bg-grey">
    <div class="container">
      <div class="b-section">
        <div id="user-intro-container">
          <div class="user-picture-container">
            <% avatar_url = @user.facebook_picture_url || image_path('someone_icon.png') %>
            <%= image_tag(avatar_url, class: 'user-picture') %>
            <% if @user.is_friend_with?(current_user) %>
              <p>Vous êtes ami(e)s</p>
            <% elsif @user != current_user %>
              <%= link_to "Inviter", friendships_path(:friend_id => @user), :method => :post, class: 'b-btn invite-btn' %>
            <% end %>
          </div>
          <div class="user-infos">
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>
            <h5>Inscrit(e) depuis le <%= @user.created_at.strftime('%d/%m/%Y') %></h5>
          </div>
          <div class="user-details">
            <div class="user-metrics-item">
              <%= pluralize @user_friends.size, "ami" %>
            </div>
            <div class="user-metrics-item">
              <%= pluralize @user.vide_dressings.size, "vide-dressing" %>
            </div>
          </div>
        </div>
      </div>
      <div class="b-section">
        <h2 class="text-center">Les vide-dressings de <%= @user.first_name %></h2>
        <% if @public_vide_dressings.size == 0 %>
          <p class="text-center"><%= @user.first_name %> n'a aucun vide-dressing public en cours.</p>
        <% else %>
          <div class="vide-dressings-container">
            <% @public_vide_dressings.each do |item| %>
              <% if item.photo.nil? %>
                <% bg = "dressing2_vtjhvf.jpg" %>
              <% else %>
                <% bg = item.photo.path %>
              <% end %>
              <div class="card-large">
                <div class="card-large-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(bg, height: 300, width: 500); %>');">
                  <%= link_to "", user_vide_dressing_path(item.user, item), class: 'card-link' %>
                </div>
                <div class="card-large-infos">
                  <div class="card-large-container">
                    <div class="card-large-text">
                      <h2><%= item.name %></h2>
                      <h5><%= item.user.first_name %> <%= item.user.last_name %></h5>
                      <p><%= pluralize item.vide_dressing_items.size, "article" %></p>
                    </div>
                    <div class="btn-container">
                      <%= link_to "Voir", user_vide_dressing_path(item.user, item), class: 'b-btn' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="b-section last-container">
        <h2 class="text-center">Les vide-dressings privés de <%= @user.first_name %></h2>
        <% if current_user %>
          <% if (current_user == @user) | current_user.is_friend_with?(@user) %>
            <% if @private_vide_dressings.size == 0 %>
              <p class="text-center"><%= @user.first_name %> n'a aucun vide-dressing privé en cours.</p>
            <% else %>
              <div class="vide-dressings-container">
                <% @private_vide_dressings.each do |item| %>
                  <% bg = ["dressing1_k4v8xj.jpg", "dressing_homme_fujdl0.jpg", "dressing2_n97toz.jpg"].sample %>
                  <div class="card-large">
                    <div class="card-large-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bg %>');">
                      <%= link_to "", user_vide_dressing_path(item.user, item), class: 'card-link' %>
                    </div>
                    <div class="card-large-infos">
                      <div class="card-large-container">
                        <div class="card-large-text">
                          <h2><%= item.name %></h2>
                          <h5><%= item.user.first_name %> <%= item.user.last_name %></h5>
                          <p><%= pluralize item.vide_dressing_items.size, "article" %></p>
                        </div>
                        <div class="btn-container">
                          <%= link_to "Voir", user_vide_dressing_path(item.user, item), class: 'b-btn' %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <p>Vous ne pouvez pas voir les vide-dressings privés des membres avec lesquels vous n'êtes pas amis.</p>
          <%= link_to "Inviter", friendships_path(:friend_id => @user), :method => :post, class: 'b-btn' %>
          <% end %>
        <% else %>
          <p>Vous ne pouvez pas voir les vide-dressings privés si vous n'êtes pas enregistré sur le site et amis avec cette personne.</p>
          <%= link_to "Log in", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
