<div class="main-body">
  <div class="bg-grey">
    <div class="container">
      <div class="b-section">
        <div id="user-intro-container">
          <div class="user-picture-container">
            <% if @user.profile_picture.nil? %>
              <% avatar_url = @user.facebook_picture_url || image_path('someone_icon.png') %>
              <%= image_tag(avatar_url, class: 'user-picture') %>
            <% else %>
              <%= cl_image_tag @user.profile_picture.path %>
            <% end %>
            <% if @user.is_friend_with?(current_user) %>
              <p>Vous êtes ami(e)s</p>
            <% elsif @user != current_user %>
              <%= link_to "Inviter", friendships_path(:friend_id => @user), :method => :post, class: 'b-btn invite-btn' %>
            <% end %>
          </div>
          <div class="user-infos">
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>
            <h5>Inscrit(e) depuis le <%= @user.created_at.strftime('%d/%m/%Y') %></h5>
          </div>
          <div class="user-details">
            <div class="user-metrics-item">
              <%= pluralize @user_friends.size, "ami" %>
            </div>

          </div>
        </div>
      </div>
      <div class="b-section">
        <h2 class="text-center">Les vide-dressings de <%= @user.first_name %></h2>
          <div class="vide-dressings-container">
            <% @user.dressing_items.each do |item| %>
              <% if item.photo.nil? %>
                <% bg = "dg4gaietgwflohnmddv0.jpg" %>
              <% else %>
                <% bg = item.photo.path %>
              <% end %>
              <div class="card-large">
                <div class="card-large-picture" style="background-image: linear-gradient(rgba(218, 212, 236, 0.2), rgba(253, 214, 189, 0.2)), url('<%= cl_image_path(bg, height: 300, width: 500); %>');">
                  <%= link_to "", dressing_item_path(item), class: 'card-link' %>
                </div>
                <div class="card-large-infos">
                  <div class="card-large-container">
                    <div class="card-large-text">
                      <h2><%= item.name %></h2>
                      <h5><%= item.user.first_name %> <%= item.user.last_name %></h5>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
