<div class="main">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="user-profile">
          <div class="user-picture">
            <h3>Mon profil</h3>
            <% avatar_url = @user.facebook_picture_url || "http://placehold.it/30x30" %>
            <%= image_tag(avatar_url, class: 'rounded') %>
          </div>
          <div class="user-infos">
            <%= @user.email %>
          </div>
          <div class="user-links">
            <p><%= link_to "Find Friends", users_path %></p>
          </div>
        </div>
      </div>
      <div class="col s12 m8">

        <div class="user-outfits">
          <h3>Outfits</h3>
          <div class="row">
            <% @user_outfits.each do |outfit| %>
              <%= render 'shared/outfit_card', outfit: outfit %>
            <% end %>
          </div>
        </div>

        <div class="user-friends">
          <h3>Friends</h3>
          <ul>
            <% for friendship in @user_friends %>
            <li>
              <% avatar_url = friendship.friend.facebook_picture_url || "http://placehold.it/30x30" %>
              <%= image_tag(avatar_url, class: 'rounded') %> <br>
              <%= link_to "remove", friendship, :method => :delete %>
            </li>
            <% end %>
          </ul>
          <h4>Friend Requests</h4>
          <% if @friend_requests.size == 0 %>
            <p>You don't have any friend request</p>
          <% else %>
            <ul>
              <% for user in @friend_requests %>
              <% friendship = user.friendships.find_by_friend_id(current_user) %>
              <div class="user">
                <p>
                  <strong><%=h user.email %></strong>
                  <%= link_to "Accept friend request", friendship_path(:friendship_id => friendship.id, :friend_id => user), :method => :patch, remote: true %>
                  <div id="friendship-status-display-<%= friendship.id %>">
                    <%= render 'friendships/friendship_status_display', friendship: friendship %>
                  </div>
                </p>
              </div>
              <% end %>
            </ul>
          <% end %>
          <% unless @made_friend_requests.size == 0 %>
            <p>You have asked for friendship the following people :</p>
            <ul>
              <% for friendship in @made_friend_requests %>
              <% user = User.find(friendship.friend_id) %>
              <div class="user">
                <p>
                  <strong><%=h user.email %></strong>
                  <%= link_to "Accept friend request", friendship_path(:friendship_id => friendship.id, :friend_id => user), :method => :patch, remote: true %>
                  <div id="friendship-status-display-<%= friendship.id %>">
                    <%= render 'friendships/friendship_status_display', friendship: friendship %>
                  </div>
                </p>
              </div>
              <% end %>
            </ul>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
