<h1>Page show d'un user</h1>
<p><%= link_to "Find Friends", users_path %></p>

<h2>Your Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
  <li>
    <%= h friendship.friend.email %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>
</ul>

<h2>Users Who Have Befriended You</h2>
<ul>
  <% for user in @user.inverse_friends %>
  <% friendship = user.friendships.find_by_friend_id(current_user) %>
  <div class="user">
    <p>
      <strong><%=h user.email %></strong>
      <%= link_to "Accept friend request", friendship_path(:friendship_id => friendship.id, :friend_id => user), :method => :patch %>
      Accepted ? <%= friendship.is_accepted %>
    </p>
  </div>
  <% end %>
</ul>
