<div class="row">
  <% if accepted_friends.size == 0 %>
    <p>Vous n'avez pas encore d'amis.</p>
  <% else %>
    <% for friendship in accepted_friends %>
    <div class="col s12 l6">
      <% avatar_url = friendship.friend.facebook_picture_url || image_path('fake-avatar.jpg') %>
      <%= image_tag(avatar_url, class: 'rounded') %> <br>
      <%= friendship.friend.email %>
      <i class="fa fa-check-square-o" aria-hidden="true"></i> Friend
      <%= link_to "Remove", friendship, :method => :delete %>
    </div>
    <% end %>
    <% for friend_invitation in friend_invitations %>
      <div class="col s12 l6">
        <% avatar_url = friend_invitation.friend.facebook_picture_url || image_path('fake-avatar.jpg') %>
        <%= image_tag(avatar_url, class: 'rounded') %> <br>
        <%= friend_invitation.friend.email %> <br>
        Pending request
        </div>
      </div>
    <% end %>
  <% end %>
</div>
