<nav>
  <div class="container">
    <div id="navigation">
      <div id="brand-logo">Swaplab</div>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <p>Menu</p>
      </a>
      <ul class="hide-on-med-and-down">
        <li><%= link_to "Lèche-vitrine", dressing_items_path %></li>
        <li><%= link_to "A propos", root_path %></li>
        <li><span class="navbar-menu-element">|</span></li>
        <% if current_user %>
          <li><%= link_to 'Mon compte', dashboard_user_path(current_user) %></li>
          <li><%= link_to 'Se déconnecter', destroy_user_session_path(current_user), method: :delete %></li>
        <% else %>
          <li><%= link_to 'Se connecter', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<ul class="side-nav" id="mobile-demo">
  <li><%= link_to "Accueil", root_path %></li>
  <% if current_user %>
    <li><%= link_to 'Mon compte', dashboard_user_path(current_user) %></li>
  <% else %>
    <li><%= link_to 'Log in', new_user_session_path %></li>
  <% end %>
</ul>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $(".button-collapse").sideNav();
    });
  <% end %>
<% end %>
