<div class="main-body">

  <div id="homepage-banner" style="background-image: linear-gradient(rgba(233, 222, 250, 0.2), rgba(193, 223, 196, 0.2)), url(<%= image_path 'home-banner.jpg'%>);">
    <div class="banner-card">
      <h1>Swaplab</h1>
      <p class="subtitle">N'achetez plus, partagez !</p>
      <p>Mais pas avec n'importe qui, uniquement avec vos amis.</p>
      <div id="decouvrir-btn" class="b-btn b-btn-colored">Découvrir le principe</div>
    </div>
  </div>

  <div id="home-content">
    <div class="bg-grey">
      <div class="container">
        <div class="b-section">
          <h2 class="text-center">Comment ça marche ?</h2>
          <div id="presentation-container">
            <div class="presentation-item">
              <%= image_tag 'network_icon.png' %>
              <p class="text-center">
                Créez un compte en quelques minutes ou connectez-vous via Facebook. Vous pourrez ainsi commencer à constituer votre réseau d'amis parmi les membres de notre communauté, ou en invitant vos amis qui ne nous connaissent pas encore.
              </p>
            </div>
            <div class="presentation-item">
              <%= image_tag 'dressing_icon.png' %>
              <p class="text-center">
                Vos placards débordent de vêtements que vous ne mettez plus mais dont vous n'arrivez pas à vous séparer ? Proposez-les à vos amis, ils feront peut-être le bonheur de quelqu'un d'autre. Les articles mis en ligne ne seront visibles que par votre cercle d'amis.
              </p>
            </div>
            <div class="presentation-item">
              <%= image_tag 'heart_icon.png' %>
              <p class="text-center">
                Empruntez ou achetez les articles mis en ligne par vos amis. Si vous ne trouvez pas votre bonheur parmi la sélection en ligne, vous pouvez demander à vos amis la pièce manquante, très simplement, en quelques clics.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="b-section last-section">
          <%= link_to "Commencer le lèche-vitrine", dressing_items_path, class: 'b-btn b-btn-colored' %>
        </div>
      </div>
    </div>
  </div>
</div>
