<div class="tab-page" id="tab-demandes-recues">
  <div class="dashboard-content-header">
    <h4>Demandes reçues</h4>
  </div>
  <div class="tab-content">
    <% @received_requests.each do |request| %>
      <% missing_item = request.missing_item %>
      <div class="b-card request-card flexbox space-between">
        <div class="item-user flexbox flex-column center space-around">
          <% photo = missing_item.user.gender == "male" ? 'boy.png' : 'girl.png' %>
          <% avatar_url = missing_item.user.facebook_picture_url || image_path(photo) %>
          <%= image_tag(avatar_url, class: 'user-avatar dashboard-avatar') %>
          <p class="no-margin"><%= missing_item.user.first_name %> <%= missing_item.user.last_name %></p>
        </div>
        <div class="item-picture flexbox space-around center">
          <% if missing_item.missing_item_pictures.size > 0 %>
            <%= cl_image_tag(missing_item.missing_item_pictures[0].photo, height: 240, width: 160, crop: :fill) %>
          <% else %>
            <%= image_tag "search-image.png", class: "search-image" %>
          <% end %>
        </div>
        <div class="item-infos">
          <h2><%= missing_item.name %></h2>
          <p><%= missing_item.description %></p>
          <p>Vous avez reçu la demande le <%= missing_item.created_at.strftime('%e %b %Y') %></p>
        </div>
        <div class="item-links">
          <!-- 2 cas : soit l'utilisateur a déjà répondu à la demande, soit elle est en attente -->
          <% if missing_item.proposals.user(current_user).first.nil? %>
            <!-- Cas 1 : encore en attente -->
            <a class="modal-trigger tooltip" href="#modal-send-reco-<%= missing_item.id %>">
              <i class="fa fa-check accept-icon" aria-hidden="true"></i>
              <span class="tooltiptext">J'ai</span>
            </a>
            <!-- Modal Structure -->
            <div id="modal-send-reco-<%= missing_item.id %>" class="modal-send-reco modal">
              <div class="modal-content">
                <div class="close-modal" data-target="modal-send-reco"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
                <!-- Contenu de la modal -->
                <div class="flexbox space-between">
                  <h2>J'ai ce que tu cherches</h2>
                </div>
                <div>
                  <%= render 'proposals/new', missing_item: missing_item, proposal: @proposal %>
                </div>
                <p>En cliquant sur valider, <%= missing_item.user.first_name %> sera informé(e) directement de votre proposition.</p>
              </div>
              <div class="right" style="margin-right: 24px;">
              </div>
            </div>
            <!-- END Modal Structure -->
            <%= link_to missing_item_target_path(request), method: :delete, class: "tooltip" do %>
              <i class="fa fa-ban reject-icon" aria-hidden="true"></i>
              <span class="tooltiptext">Je n'ai pas</span>
            <% end %>
          <% else %>
            <!-- Cas 2 : proposition faite -->
            <% proposal = missing_item.proposals.user(current_user).first %>
            <p>Proposition faite</p>
            <a class="modal-trigger b-btn-underlined" href="#modal-see-reco-<%= proposal.id %>">Voir ma proposition</a>
            <!-- Modal Structure -->
            <div id="modal-see-reco-<%= proposal.id %>" class="modal-see-reco modal">
              <div class="modal-content">
                <div class="close-modal" data-target="modal-see-reco"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
                <!-- Contenu de la modal -->
                <%= render 'proposals/show', proposal: proposal %>
              </div>
            </div>
            <!-- END Modal Structure -->
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
