<div class="tab-page" id="tab-mesdemandes">
  <div class="dashboard-content-header flexbox space-between center">
    <h4>Mes demandes</h4>
    <%= link_to "Faire une demande", new_missing_item_path, class: "b-btn b-btn-transparent no-margin" %>
  </div>
  <div class="tab-content">
    <% @item_requests.each do |request| %>
      <div class="b-card request-card flexbox space-between">
        <div class="item-picture flexbox space-around center">
          <% if request.missing_item_pictures.size > 0 %>
            <%= cl_image_tag(request.missing_item_pictures[0].photo, height: 240, width: 160, crop: :fill) %>
          <% else %>
            <%= image_tag "search-image.png", class: "search-image" %>
          <% end %>
        </div>
        <div class="item-infos">
          <h2><%= request.name %></h2>
          <p>Vous avez envoyé la demande le <%= request.created_at.strftime('%e %b %Y') %></p>
          <% unless request.missing_item_targets.blank? %>
            <p>La demande a été envoyée à
              <% request.missing_item_targets[0..-2].each do |target| %>
                <%= link_to "#{target.user.first_name}, ", user_path(target.user) %>
              <% end %>
              <%= link_to "#{request.missing_item_targets[-1].user.first_name}." %>
            </p>
          <% end %>
        </div>
        <div class="item-props">
          <p>Propositions reçues :</p>
          <% if request.proposals.size == 0 %>
            <p>Aucune proposition reçue pour le moment</p>
          <% else %>
            <div class="flexbox">
              <% request.proposals.each do |proposal| %>
              <div class="flexbox flex-column center">
                <% photo = proposal.user.gender == "male" ? 'boy.png' : 'girl.png' %>
                <% avatar_url = proposal.user.facebook_picture_url || image_path(photo) %>
                <%= image_tag(avatar_url, class: 'user-avatar dashboard-avatar') %>
                <p class="no-margin"><%= proposal.user.first_name %> <%= proposal.user.last_name %></p>
                <a class="modal-trigger b-btn-underlined" href="#modal-see-reco-<%= proposal.id %>-bis">Voir
                </a>
                <!-- Modal Structure -->
                <div id="modal-see-reco-<%= proposal.id %>-bis" class="modal-see-reco modal">
                  <div class="modal-content">
                    <div class="close-modal" data-target="modal-see-reco"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
                    <!-- Contenu de la modal -->
                    <div>
                      <%= render 'proposals/show', proposal: proposal %>
                    </div>
                  </div>
                </div>
                <!-- END Modal Structure -->
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
