<div class="tab-page" id="tab-moncompte">
  <div class="dashboard-content-header flexbox space-between center">
    <h4>Mon compte</h4>
    <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: 'b-btn b-btn-transparent no-margin' %>
  </div>
  <div class="tab-content no-padding-bottom flexbox space-between">
    <div class="dashboard-links-card">
      <h5>Mon profil</h5>
      <p>Prénom : <%= current_user.first_name %></p>
      <p>Nom : <%= current_user.last_name %></p>
      <p>Email : <%= current_user.email %></p>
      <br>
      <p class="b-btn-underlined" id="link-to-monprofil">Modifier</p>
    </div>
    <div class="dashboard-links-card">
      <h5>Mon réseau</h5>
      <p>Vous avez <%= pluralize @actual_friends.size, "ami" %></p>
      <p>Vous avez <%= pluralize @pending_requests.size, "invitation" %> en attente</p>
      <br>
      <p class="b-btn-underlined" id="link-to-monreseau">Gérer</p>
    </div>
    <div class="dashboard-links-card">
      <h5>Mon dressing</h5>
      <p>Vous avez mis en ligne <%= pluralize @dressing_items.size, "article" %></p>
      <br>
      <p class="b-btn-underlined" id="link-to-mondressing">Gérer</p>
    </div>
  </div>
  <div class="tab-content no-padding-top  no-padding-bottom flexbox space-between">
    <div class="dashboard-links-card">
      <h5>Mon panier</h5>
      <% if current_user.shopping_cart.nil? %>
        <p>Votre panier est vide</p>
        <br>
        <p><%= link_to "Commencez votre lèche-vitrine", dressing_items_path, class: "b-btn-underlined" %></p>
      <% else %>
        <p>Vous avez ajouté <%= pluralize current_user.shopping_cart.shopping_cart_items.size, "article" %> à votre panier</p>
        <br>
        <p><%= link_to "Accéder", shopping_cart_path(current_user.shopping_cart), class: "b-btn-underlined" %></p>
      <% end %>
    </div>
    <div class="dashboard-links-card">
      <h5>Ma wishlist</h5>
      <% if @wishlist_items.nil? %>
        <p>Votre wishlist est vide.</p>
        <br>
        <p><%= link_to "Commencez votre lèche-vitrine", dressing_items_path, class: "b-btn-underlined" %></p>
      <% else %>
        <p>Vous avez ajouté <%= pluralize @wishlist_items.size, "article" %> à votre wishlist</p>
        <br>
        <p><%= link_to "Voir", wishlist_user_path(current_user), class: "b-btn-underlined" %></p>
      <% end %>
    </div>
    <div class="dashboard-links-card">
      <h5>Articles prêtés</h5>
      <% if @loans.nil? %>
        <p>Vous ne prêtez actuellement aucun article.</p>
      <% else %>
        <p>Vous prêtez actuellement <%= pluralize @loans.size, "article" %>.</p>
      <% end %>
      <br>
      <p class="b-btn-underlined" id="link-to-mesprets">Gérer</p>
    </div>
  </div>
  <div class="tab-content no-padding-top flexbox">
    <div class="dashboard-links-card">
      <h5>Mes demandes désespérées</h5>
      <% if @item_requests.nil? %>
        <p>Vous n'avez aucune demande en attente de réponse.</p>
      <% else %>
        <p>Vous avez actuellement <%= pluralize @item_requests.size, "demande" %> en cours.</p>
      <% end %>
      <br>
      <p class="b-btn-underlined" id="link-to-mesdemandes">Voir</p>
    </div>
    <div class="dashboard-links-card">
      <h5>Demandes reçues</h5>
      <% if @received_requests.nil? %>
        <p>Vous n'avez aucune demande en attente de réponse de votre part.</p>
      <% else %>
        <p>Vous avez <%= pluralize @received_requests.size, "demande" %> en attente.</p>
      <% end %>
      <br>
      <p class="b-btn-underlined" id="link-to-demandes-recues">Voir</p>
    </div>
  </div>
</div>
