<div class="tab-page" id="tab-mondressing">
  <div class="dashboard-content-header flexbox space-between center">
    <h4>Mon dressing</h4>
    <%= link_to "Ajouter", new_dressing_item_path, class: "b-btn b-btn-transparent no-margin" %>
  </div>
  <div class="tab-content">
    <div class="flexbox">
      <% @dressing_items.each do |item| %>
      <% photos = item.dressing_item_pictures %>
        <% unless photos.size == 0 %>
          <div class="dressing-item-container">
            <div class="dressing-item-card" style="background-image: url(<%= cl_image_path photos[0].photo, width: 260, height: 330, crop: :fill; %>);">
              <%= link_to "", dressing_item_path(item), class: "card-link" %>
            </div>
            <br>
            <h5><%= item.name %></h5>
            <% if item.price == 0 %>
              <span class="item-price">gratuit</span>
            <% else %>
              <span class="item-price"><%= item.price %> €</span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
