<div class="main-body">
  <div class="page-header">
  </div>
  <div class="bg-grey">
    <div class="container first-container last-container flexbox space-between flex-start">
      <div id="filtering">
        <p>Filtrer parmi les <%= DressingItem.all.size %> articles</p>
        <% if @nb_criteres_filtre.size == 0 %>
          <p>Aucun critère choisi</p>
        <% elsif @nb_criteres_filtre.size == 1 %>
          <p><span class="bold">1</span> critère choisi</p>
        <% else %>
          <p><span class="bold"><%= @nb_criteres_filtre %></span> critères choisis</p>
        <% end %>
        <p id="reset-btn" class="b-btn-underlined">Effacer les filtres</p>
          <%= form_tag dressing_items_path, method: 'get' do %>
            <br>
            <h5>Genre</h5>
            <br>
            <% DressingItem::GENDER.each do |gender| %>
              <% if params["gender"].nil? %>
                <input id="gender_<%= gender %>" class="filled-in" name="gender[]" type="checkbox" value=<%= gender %> />
              <% elsif params["gender"].include?(gender) %>
                <input checked="checked" id="gender_<%= gender %>" class="filled-in" name="gender[]" type="checkbox" value=<%= gender %> />
              <% else %>
                <input id="gender_<%= gender %>" class="filled-in" name="gender[]" type="checkbox" value=<%= gender %> />
              <% end %>
              <label for="gender_<%= gender %>"><%= gender == "male" ? "Homme" : "Femme" %></label>
            <% end %>
            <br>
            <h5>Catégorie</h5>
            <br>
            <% DressingItem::CATEGORY.each do |category| %>
              <% if params["category"].nil? %>
                <input id="category_<%= category %>" class="filled-in" name="category[]" type="checkbox" value=<%= category %> />
              <% elsif params["category"].include?(category)  %>
                <input checked="checked" id="category_<%= category %>" class="filled-in" name="category[]" type="checkbox" value=<%= category %> />
              <% else %>
                <input id="category_<%= category %>" class="filled-in" name="category[]" type="checkbox" value=<%= category %> />
              <% end %>
              <label for="category_<%= category %>"><%= category %></label>
            <% end %>
            <%= submit_tag "Chercher", class: "b-btn hidden", id: "filter-btn" %>
          <% end %>
      </div>
      <div id="all-products-container" class="flexbox">
        <% if @dressing_items.size == 0 %>
          <p>Aucun article ne correspond à votre recherche.</p>
        <% else %>
          <% @dressing_items.each do |item| %>
            <% pictures = item.dressing_item_pictures %>
            <% if pictures.size == 0 %>
              <% picture = "dress_icon_sfq079.png" %>
            <% else %>
              <% picture = pictures[0].photo %>
            <% end %>
            <div class="dressing-item-container">
              <div class="dressing-item-card" style="background-image: url(<%= cl_image_path picture, width: 260, height: 330, crop: :fill; %>);">
                <%= link_to "", dressing_item_path(item), class: "card-link" %>
                <div class="vide-dressing-item-card-icon">
                  <i class="material-icons">favorite_border</i>
                </div>
              </div>
              <br>
              <h5><%= item.name %></h5>
              <p>Mis en ligne par <%= item.user.first_name %> <%= item.user.last_name %></p>
              <% if item.price == 0 %>
                <span class="item-price">gratuit</span>
              <% else %>
                <span class="item-price"><%= item.price %> €</span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
        $('select').material_select();
      });
  </script>
<% end %>
