<div class="main-body">
  <div class="page-header flexbox space-around center">
    <h2>Proposer une pièce</h2>
  </div>
  <div class="bg-grey">
    <div class="container">
      <div class="b-section">
        <div id="steps-indicator">
          <div id="form-step-indicator-reference">
            <div class="bubble active form-step1">
              1
            </div>
            <div class="bubble form-step2">
              2
            </div>
            <div class="bubble form-step3">
              3
            </div>
            <div id="form-step-indicator" class="form-step1">
            </div>
          </div>
        </div>
          <div class="flexbox space-around center">
            <div id="add-item-container" class="bg-white">
            <%= simple_form_for @dressing_item, html: { id: "new-dressing-item-form", multipart: true } do |f| %>
              <%= f.error_notification %>

              <!-- STEP 1 -->
              <div id="form-step1" class="form-step">
                <h4>Général</h4>
                <%= f.input :name, input_html: { class: 'form-input-width' }, placeholder: "Nom" %>
                <!-- input gender -->
                <div class="input-field col dressing_item_gender">
                  <h5>Genre</h5>
                  <input type="hidden" name="dressing_item[gender]" value="">
                  <input type="radio" value="female" name="dressing_item[gender]" id="dressing_item_gender_female">
                  <label class="collection_radio_buttons" for="dressing_item_gender_female">
                    <%= image_tag "girl.png" %>
                  </label>
                  <input type="radio" value="male" name="dressing_item[gender]" id="dressing_item_gender_male">
                  <label class="collection_radio_buttons" for="dressing_item_gender_male">
                    <%= image_tag "boy.png" %>
                  </label>
                </div>
                <!-- input category -->
                <div class="input-field col dressing_item_category">
                  <h5>Catégorie</h5>
                  <div class="category-choices">
                    <% DressingItem::CATEGORIES.each do |category| %>
                      <input type="radio" value="<%= category %>" name="dressing_item[category]" id="dressing_item_category_<%= category %>">
                      <label for="dressing_item_category_<%= category %>">
                        <%= image_tag "#{category.downcase}.png" %>
                      </label>
                    <% end %>
                   </div>
                </div>
                <div class="form-buttons">
                  <button type="button" class="b-btn b-btn-colored b-btn-next">Suivant <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
              </div>

              <div id="form-step2" class="form-step">
                <h4>Détails</h4>
                <div id="form-details-container">
                  <%= f.input :brand, placeholder: "Marque" %>
                  <%= f.input :description, placeholder: "Description", as: :text %>
                  <%#= f.input :color, placeholder: "Couleur" %>
                  <div class="input-field col dressing_item_color">
                  <h5>Couleur</h5>
                  <div class="flexbox space-between">
                    <% DressingItem::COLORS.each do |color| %>
                        <input type="radio" value="<%= color %>" name="dressing_item[color]" id="dressing_item_color_<%= color %>">
                        <label for="dressing_item_color_<%= color %>">
                          <div class="color-label" style="background-color: <%= DressingItem::COLORTRANSLATION[color.downcase.to_sym]%>"></div>
                        </label>
                      <% end %>
                  </div>
                </div>
                <div class="input-field col dressing_item_size">
                  <h5>Taille</h5>
                  <% DressingItem::SIZES_OPTION1.each do |size| %>
                      <input type="radio" value="<%= size %>" name="dressing_item[size]" id="dressing_item_size_<%= size %>">
                      <label for="dressing_item_size_<%= size %>">
                        <div class="size-label"><%= size %></div>
                      </label>
                    <% end %>
                    <p class="text-center underline" style="margin-top: 2em;">Ou</p>
                  <% DressingItem::SIZES_OPTION2.each do |size| %>
                    <input type="radio" value="<%= size %>" name="dressing_item[size]" id="dressing_item_size_<%= size %>">
                    <label for="dressing_item_size_<%= size %>">
                      <div class="size-label"><%= size %></div>
                    </label>
                  <% end %>
                </div>
                <div class="input-field col dressing_item_to_sell flexbox space-between center">
                  <h5>Je vends :</h5>
                  <div>
                    <input class="number" type="checkbox" name="dressing_item[to_sell]" id="dressing_item_to_sell_yes", value="yes">
                    <label for="dressing_item_to_sell_yes">
                      <i class="fa fa-check accept-icon" aria-hidden="true"></i>
                    </label>
                    <input class="number" type="checkbox" name="dressing_item[to_sell]" id="dressing_item_to_sell_no", value="no">
                    <label for="dressing_item_to_sell_no">
                      <i class="fa fa-ban reject-icon" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="input-field col dressing_item_to_rent flexbox space-between center">
                  <h5>Je loue :</h5>
                  <div>
                    <input class="number" type="checkbox" name="dressing_item[to_rent]" id="dressing_item_to_rent_yes", value="yes">
                    <label for="dressing_item_to_rent_yes">
                      <i class="fa fa-check accept-icon" aria-hidden="true"></i>
                    </label>
                    <input class="number" type="checkbox" name="dressing_item[to_lend]" id="dressing_item_to_lend_no", value="no">
                    <label for="dressing_item_to_lend_no">
                      <i class="fa fa-ban reject-icon" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="input-field col dressing_item_to_lend flexbox space-between center">
                  <h5>Je prête :</h5>
                  <div>
                    <input class="number" type="checkbox" name="dressing_item[to_lend]" id="dressing_item_to_lend_yes", value="yes">
                    <label for="dressing_item_to_lend_yes">
                      <i class="fa fa-check accept-icon" aria-hidden="true"></i>
                    </label>
                    <input class="number" type="checkbox" name="dressing_item[to_sell]" id="dressing_item_to_sell_no", value="no">
                    <label for="dressing_item_to_sell_no">
                      <i class="fa fa-ban reject-icon" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="input-field col dressing_item_price flexbox space-between center">
                  <h5>Prix</h5>
                  <div>
                    <input class="number" type="number" name="dressing_item[price]" id="dressing_item_price", placeholder="€--">
                  </div>
                </div>
                <div class="input-field col dressing_item_ref flexbox space-between center">
                  <div class="tooltip">
                    <h5>Référence</h5>
                    <span class="tooltiptext">Vous pouvez ajouter un lien vers un site référençant ce produit (le site de la marque) pour donner plus d'informations.</span>
                  </div>

                  <div>
                    <input class="number" type="text" name="dressing_item[ref]" id="dressing_item_ref", placeholder="Site web">
                  </div>
                </div>
                </div>
                <div class="form-buttons">
                  <button type="button" class="b-btn b-btn-colored b-btn-return"><i class="fa fa-chevron-left" aria-hidden="true"></i> Retour</button>
                  <button type="button" class="b-btn b-btn-colored b-btn-next">Suivant <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
              </div>
              <div id="form-step3" class="form-step">
                <h4>Photos</h4>
                <div id="ajouter-photos-btn" class="b-btn b-btn-underlined">Choisir photos</div>
                <input type="text" class="filename" placeholder="Aucun fichier choisi"/>
                <%= f.file_field :photos, multiple: true %>
                <%#= f.hidden_field :photos_cache %>
                <div class="form-buttons">
                  <button type="button" class="b-btn b-btn-colored b-btn-return"><i class="fa fa-chevron-left" aria-hidden="true"></i> Retour</button>
                  <%= f.button :submit, class: 'b-btn', value: "Valider" %>
                </div>
              </div>
            <% end %>

          </div>





        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
        $('select').material_select();
      });
  </script>
<% end %>
