<div class="main-body">
  <div class="bg-grey">
    <div class="container">
      <div class="b-section">
        <h2 class="text-center">Proposer une pièce</h2>
        <div id="steps-indicator">
          <div id="form-step-indicator-reference">
            <div class="bubble active form-step1">
              1
            </div>
            <div class="bubble form-step2">
              2
            </div>
            <div class="bubble form-step3">
              3
            </div>
            <div id="form-step-indicator" class="form-step1">
            </div>
          </div>

        </div>



          <div class="flexbox space-around center">

            <div id="add-item-container" class="bg-white">
            <%= simple_form_for @dressing_item, html: { id: "new-dressing-item-form", multipart: true } do |f| %>
              <%= f.error_notification %>

              <!-- STEP 1 -->
              <div id="form-step1" class="form-step">
                <h2>Etape 1</h2>
                <%= f.input :name, placeholder: "Nom" %>
                <!-- input gender -->
                <select class="select optional initialized" name="dressing_item[gender]" id="dressing_item_gender">
                  <option value="" class="select-placeholder">Genre</option>
                  <option value="Homme">Homme</option>
                  <option value="Femme">Femme</option>
                </select>
                <!-- input category -->
                <select class="select optional initialized" name="dressing_item[category]" id="dressing_item_category">
                  <option value="" class="select-placeholder">Catégorie</option>
                  <option value="Robe">Robe</option>
                  <option value="Top">Top</option>
                  <option value="Veste">Veste</option>
                  <option value="Pantalon">Pantalon</option>
                  <option value="Jupe">Jupe</option>
                  <option value="Combinaison">Combinaison</option>
                  <option value="Blouse">Blouse</option>
                  <option value="Manteau">Manteau</option>
                  <option value="Chaussures">Chaussures</option>
                  <option value="Chapeau">Chapeau</option>
                  <option value="Pochette">Pochette</option>
                  <option value="Bandeau">Bandeau</option>
                  <option value="Collier">Collier</option>
                </select>
                <div class="form-buttons">
                  <button type="button" class="b-btn b-btn-next">Suivant</button>
                </div>
              </div>
              <div id="form-step2" class="form-step">
                <h2>Etape 2</h2>
                <%= f.input :description, placeholder: "Description", as: :text %>
                <%= f.input :color, placeholder: "Couleur" %>
                <%= f.input :size, placeholder: "Taille" %>
                <%= f.input :price, placeholder: "Prix" %>
                <div class="form-buttons">
                  <button type="button" class="b-btn b-btn-return">Retour</button>
                  <button type="button" class="b-btn b-btn-next">Suivant</button>
                </div>
              </div>
              <div id="form-step3" class="form-step">
                <h2>Etape 3</h2>
                <%= f.file_field :photos, multiple: true %>
                <%= f.hidden_field :photos_cache %>
                <div class="form-buttons">
                  <button type="button" class="b-btn b-btn-return">Retour</button>
                </div>
                <%= f.button :submit, class: 'b-btn', value: "Valider" %>
              </div>
            <% end %>

          </div>





        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
        $('select').material_select();
      });
  </script>
<% end %>
