<div class="main-body">
  <div class="bg-grey">
    <div class="container last-container">
      <div id="dressing-item-container" class="flexbox space-between wrap-reverse">
        <% if @pictures.size > 1 %>
          <div id="item-pictures-container" class="flexbox space-between">
            <div class="item-main-picture">
              <%= cl_image_tag @pictures[0], width: 350, height: 480 %>
            </div>
            <div class="item-other-pictures">
              <% @pictures[1..@pictures.length - 1].each do |photo| %>
                <%= cl_image_tag photo, width: 100, height: 137 %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div id="item-lonely-picture-container" class="flexbox space-around wrap-reverse">
            <%= cl_image_tag @pictures[0], width: 350, height: 480 %>
          </div>
        <% end %>
        <div class="item-infos-container">
          <div class="item-infos">
            <h2><%= @dressing_item.name %></h2>
            <% if @dressing_item.price == 0 %>
              <p class="small-price"><%= @dressing_item.price %>€</p>
            <% else %>
              <p class="price"><%= @dressing_item.price %>€</p>
            <% end %>
            <% genre = @dressing_item.gender == "male" ? "Homme" : "Femme" %>
            <h5><%= genre %></h5>
            <h5><%= @dressing_item.category %></h5>
            <br>
            <p>Couleur : <%= @dressing_item.color %></p>
            <p>Taille : <%= @dressing_item.size %></p>
            <br>
            <p>Catégorie : <%= @dressing_item.description %></p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# if current_user == @owner %>
  <!-- <br>
  <br>
  <h4>Dans le panier de</h4> -->
  <%# if @users_interested.size == 0 %>
    <!-- <p>personne pour l'instant</p> -->
  <%# else %>
    <%# @users_interested.each do |user| %>
      <!-- <p><%#= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></p> -->
    <%# end %>
  <%# end %>
<%# else %>
  <%#= link_to "Ca m'intéresse", add_to_cart_path(@owner, @dressing_item), remote: true, method: :post, class: 'b-btn' %>
<%# end %>
