<div class="main-body">
  <div class="page-sub-header">
    <div class="container">
      <!-- Subnavigation -->
      <div class="page-nav">
        <div class="page-nav-menu">
          <div class="page-nav-menu-links">
            <i class="fa fa-chevron-left inline" aria-hidden="true"></i>
            <p class="inline first-nav-element"><%= link_to 'Retour aux articles', dressing_items_path %></p>
          </div>
        </div>
      </div>
      <!-- Subnavigation -->
    </div>
  </div>
  <div class="bg-grey">
    <div class="container last-container first-container">
      <div id="dressing-item-container" class="flexbox space-between wrap-reverse">
        <% if @pictures.size > 1 %>
          <div id="item-pictures-container" class="flexbox space-between">
            <div class="item-main-picture">
              <%= cl_image_tag @pictures[0].photo, class: "dressing-picture" %>
            </div>
            <div class="item-other-pictures">
              <% @pictures[1..@pictures.length - 1].each do |picture| %>
                <%= cl_image_tag picture.photo, class: "dressing-picture" %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div id="item-lonely-picture-container" class="flexbox space-around wrap-reverse">
            <%= cl_image_tag @pictures[0].photo, class: "dressing-picture" %>
          </div>
        <% end %>
        <div class="item-infos-container">
          <div class="item-infos">
            <div class="flexbox space-between center">
              <h2><%= @dressing_item.name %></h2>
              <% if current_user.voted_for?(@dressing_item) %>
                <div class="add-to-cart-icon active">
                  <%= link_to remove_from_favorite_path(@dressing_item), method: :patch do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  <% end %>
                </div>
              <% else %>
                <div class="add-to-cart-icon">
                  <%= link_to add_to_favorite_path(@dressing_item), method: :post do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
            <p>Mis en ligne par <%= link_to "#{@owner.first_name} #{@owner.last_name}", user_path(@owner), class: 'b-btn-underlined' %></p>
            <p><%= @dressing_item.description %></p>
            <% if @dressing_item.price == 0 %>
              <p class="item-price">Gratuit</p>
            <% else %>
              <p class="item-price"><%= @dressing_item.price %>€</p>
            <% end %>
            <% unless @dressing_item.brand.blank? %>
              <br>
              <p>Marque : <%= @dressing_item.brand %></p>
            <% end %>
            <% unless @dressing_item.ref.blank? %>
              <br>
              <p>Référence : <a href="<%= @dressing_item.ref %>" class="b-btn-underlined" target="_blank">Voir</a></p>
            <% end %>
            <div class="item-complementary-infos flexbox space-around">
              <div class="flexbox flex-column space-around center">
                <span>Couleur</span>
                <br>
                <div class="color-label" style="background-color: <%= DressingItem::COLORTRANSLATION[@dressing_item.color.downcase.to_sym]%>"></div>
              </div>
              <div class="flexbox flex-column space-around center">
                <span>Taille</span>
                <br>
                <div class="size-label"><%= @dressing_item.size %></div>
              </div>
            </div>
            <br>
            <br>
            <%= link_to "Ajouter au panier", add_to_cart_path(@dressing_item), remote: true, method: :post, class: "b-btn b-btn-transparent b-btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
