<div class="main-body">
  <div class="bg-grey">
    <div class="container last-container first-container">
      <div id="dressing-item-container" class="flexbox space-between wrap-reverse">
        <% if @pictures.size > 1 %>
          <div id="item-pictures-container" class="flexbox space-between">
            <div class="item-main-picture">
              <%= cl_image_tag @pictures[0].photo, class: "dressing-picture" %>
            </div>
            <div class="item-other-pictures">
              <% @pictures[1..@pictures.length - 1].each do |picture| %>
                <%= cl_image_tag picture.photo, class: "dressing-picture" %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div id="item-lonely-picture-container" class="flexbox space-around wrap-reverse">
            <%= cl_image_tag @pictures[0].photo, width: 350, height: 480, class: "dressing-picture" %>
          </div>
        <% end %>
        <div class="item-infos-container">
          <div class="item-infos">
            <h2><%= @dressing_item.name %></h2>
            <p>Créé par <%= link_to "#{@owner.first_name} #{@owner.last_name}", user_path(@owner) %></p>
            <p><%= @dressing_item.description %></p>
            <% if @dressing_item.price == 0 %>
              <p class="item-price"><%= @dressing_item.price %>€</p>
            <% else %>
              <p class="item-price"><%= @dressing_item.price %>€</p>
            <% end %>
            <div class="item-complementary-infos flexbox space-around">
              <div class="flexbox flex-column space-around center">
                <span>Couleur</span>
                <%= @dressing_item.color %>
              </div>
              <div class="flexbox flex-column space-around center">
                <span>Taille</span>
                <%= @dressing_item.size %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# if current_user == @owner %>
  <!-- <br>
  <br>
  <h4>Dans le panier de</h4> -->
  <%# if @users_interested.size == 0 %>
    <!-- <p>personne pour l'instant</p> -->
  <%# else %>
    <%# @users_interested.each do |user| %>
      <!-- <p><%#= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></p> -->
    <%# end %>
  <%# end %>
<%# else %>
  <%#= link_to "Ca m'intéresse", add_to_cart_path(@owner, @dressing_item), remote: true, method: :post, class: 'b-btn' %>
<%# end %>
